<div class="container">
  <div class="column is-fullwidth">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li *ngFor="let folder of getFolderHierarchy(); let last = last" [ngClass]="{last: last}">
          <a routerLink="{{folder.getRouterLink()}}" >
            <p>{{folder.getName()}}</p>
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <div class="columns is-mobile is-multiline">
        <div class="column" [ngClass]="{'is-2': isImageSize(0), 'is-3': isImageSize(1), 'is-6': isImageSize(2), 'is-12': isImageSize(3)}" >
          <div class="box">
            <input type="file" name="img" multiple>  
          </div>
        </div>
        <div class="column" [ngClass]="{'is-2': isImageSize(0), 'is-3': isImageSize(1), 'is-6': isImageSize(2), 'is-12': isImageSize(3)}" >
          <div class="box">
            <div class="file is-boxed">
              <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-cloud-upload-alt"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="column" [ngClass]="{'is-2': isImageSize(0), 'is-3': isImageSize(1), 'is-6': isImageSize(2), 'is-12': isImageSize(3)}" >
          <a class="box" (click)="createFolder()">
            <figure>
              <p class="has-text-grey has-text-left is-size-7">Create Folder</p>
              <img class="fillwidth" src="./assets/new-folder.png" alt="Create Folder" />
            </figure>
          </a>
        </div>
        <div class="column" *ngFor="let img of getImages()" [ngClass]="{'is-2': isImageSize(0,img), 'is-3': isImageSize(1,img), 'is-6': isImageSize(2,img), 'is-12': isImageSize(3,img)}" >
          <a class="box" (click)="selectElement(img)">
            <figure>
              <p class="has-text-grey has-text-left is-size-7">{{img.getName()}}</p>
              <img *ngIf="isSelectedImage(img)" class="fillwidth" src="{{img.getSourcePath()}}" alt="{{img.getSourcePath()}}" />
              <img *ngIf="!isSelectedImage(img)" class="fillwidth" src="{{img.getPreviewPath()}}" alt="{{img.getPreviewPath()}}" />
            </figure>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>