<div class="container">
  <div class="column is-fullwidth">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li *ngFor="let folder of getFolderHierarchy(); let last = last" [ngClass]="{last: last}">
          <a routerLink="{{folder.getRouterLink()}}">
            <p>{{folder.getName()}}</p>
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <div *ngIf="isFolderLoaded() == false" class="columns is-mobile is-multiline ">
        <div class="column" [ngClass]="{'is-2': isImageSize(0), 'is-3': isImageSize(1), 'is-6': isImageSize(2), 'is-12': isImageSize(3)}">
            <a class="box" >
              <figure>
                <p class="has-text-grey has-text-left is-size-7">Loading...</p>
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                  </div>
              </figure>
            </a>
          </div>        
      </div>
      <div *ngIf="isFolderLoaded()" class="columns is-mobile is-multiline ">
        <div class="column" [ngClass]="{'is-2': isImageSize(0), 'is-3': isImageSize(1), 'is-6': isImageSize(2), 'is-12': isImageSize(3)}">
          <a class="box" (click)="fileUpload.isOpen=true">
            <figure>
              <p class="has-text-grey has-text-left is-size-7">Upload Files</p>
              <img class="fillwidth" src="./assets/upload-files.png" alt="Upload Files" />
            </figure>
          </a>
        </div>
        <div class="column" [ngClass]="{'is-2': isImageSize(0), 'is-3': isImageSize(1), 'is-6': isImageSize(2), 'is-12': isImageSize(3)}">
          <a class="box" (click)="isCreateFolderOpen=true">
            <figure>
              <p class="has-text-grey has-text-left is-size-7">Create Folder</p>
              <img class="fillwidth" src="./assets/new-folder.png" alt="Create Folder" />
            </figure>
          </a>
        </div>
        <div class="column" *ngFor="let img of getImages()" [ngClass]="{'is-2': isImageSize(0,img), 'is-3': isImageSize(1,img), 'is-6': isImageSize(2,img), 'is-12': isImageSize(3,img)}">
          <a class="box" (click)="selectElement(img)">
            <figure>
              <p class="has-text-grey has-text-left is-size-7">{{img.getName()}}</p>
              <img *ngIf="isSelectedImage(img)" class="fillwidth" src="{{img.sourcePath}}" alt="{{img.sourcePath}}" />
              <img *ngIf="!isSelectedImage(img)" class="fillwidth" src="{{img.previewPath}}" alt="{{img.previewPath}}" />
            </figure>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="modal" [ngClass]="{'is-active': isCreateFolderOpen}">
    <div class="modal-background" (click)="isCreateFolderOpen=false"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create new folder</p>
        <button class="delete" aria-label="close" (click)="isCreateFolderOpen=false"></button>
      </header>
      <section class="modal-card-body">
        <div class="control">
          <input #folderName class="input" type="text" placeholder="Name" (keyup.enter)="createFolder(folderName.value)">
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="createFolder(folderName.value)">Create Folder</button>
        <button class="button" (click)="isCreateFolderOpen=false">Cancel</button>
      </footer>
    </div>
  </div>
  <app-file-upload #fileUpload></app-file-upload>
</div>
