<div class="modal" [ngClass]="{'is-active': isOpen}">
  <div class="modal-background" (click)="isOpen=false"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Upload Files</p>
      <button class="delete" aria-label="close" (click)="isOpen=false"></button>
    </header>
    <section class="modal-card-body">
      <div class="field" *ngIf="files==null">
        <label class="label">Select files to upload</label>
        <div class="control">
          <div class="file">
            <label class="file-label">
              <input #fileInput class="file-input" type="file" multiple (input)="filesChanged(fileInput.files)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose files…
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>
      <label *ngFor="let file of fileUploads" class="label">
        <span *ngIf="file.error" class="tag is-danger">
          Upload Failed
        </span>
        <span *ngIf="file.isStarted && file.error===false && file.isDone===false" class="tag is-info">
          Running...
        </span>
        <span *ngIf="file.isDone" class="tag is-success">
          Done
        </span>
        {{file.file.name}}
        <progress class="progress m-t-xs" [ngClass]="{'is-success': file.isDone, 'is-danger': file.error}" value="{{file.progress}}"
          max="100"></progress>
      </label>
    </section>
    <footer class="modal-card-foot">
      <button *ngIf="state < 3" class="button is-success" [ngClass]="{'is-loading': state===2}" (click)="upload()"
        [attr.disabled]="files==null || state===2 ? '' : null">Upload selected files</button>
      <button *ngIf="state >= 3" class="button" [ngClass]="{'is-success': state===3, 'is-danger': state===4}" (click)="uploadDone()">Close</button>
      <button *ngIf="state < 2" class="button" (click)="files=null; fileUploads=null; state=0" [attr.disabled]="files==null || state===2 ? '' : null">Clear</button>
    </footer>
  </div>
</div>
