<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="./assets/icon.png" alt="Logo"> {{title}}
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/folderview" routerLinkActive="is-active">
          Folder View
        </a>
      </div>
      <div class="navbar-end is-hidden-touch">
        <a class="navbar-item" [ngClass]="{'is-active': isImageSize(0)}" (click)="setImageSize(0)">
          <img src="./assets/small-image.png" alt="Small">
        </a>
        <a class="navbar-item" [ngClass]="{'is-active': isImageSize(1)}" (click)="setImageSize(1)">
          <img src="./assets/medium-image.png" alt="Medium">
        </a>
        <a class="navbar-item" [ngClass]="{'is-active': isImageSize(2)}" (click)="setImageSize(2)">
          <img src="./assets/big-image.png" alt="Big">
        </a>    
      </div>
      <div class="navbar-end is-hidden-desktop">
        <a class="navbar-item" [ngClass]="{'is-active': isImageSize(1)}" (click)="setImageSize(1)">
          <img src="./assets/small-image.png" alt="Small">
        </a>
        <a class="navbar-item" [ngClass]="{'is-active': isImageSize(2)}" (click)="setImageSize(2)">
          <img src="./assets/medium-image.png" alt="Medium">
        </a>
        <a class="navbar-item" [ngClass]="{'is-active': isImageSize(3)}" (click)="setImageSize(3)">
          <img src="./assets/big-image.png" alt="Big">
        </a>    
      </div>      
    </div>
  </div>
</nav>
<!-- END NAV -->
<router-outlet></router-outlet>